
.aside {
  opacity: 0;
  max-height: 0; /* Start with 0 height */
  overflow: hidden; /* Hide overflowing content */
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out; /* Transition effects */
}

.aside.active {
  opacity: 1;
  max-height:1000px; /*Adjust this value based on the actual content height*/
  
}


.menu-elements{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 0;

  

}
.menu-elements .side-elements{
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(234, 118, 0);
  padding-bottom: 10px;
}

@keyframes shake{
  0% { transform: translateY(0); }
  25% { transform: translateY(-1px); }
  50% { transform: translateY(1px); }
  75% { transform: translateY(-1px); }
  100% { transform: translateY(0); }
}
.side-elements:hover{
  animation: shake 0.9s;
  animation-iteration-count: 1;
  font-size: 16px;
  color:rgb(92, 77, 77) !important;
}

.side-elements .drop{
  display: none;
  width: 100%;
  height: auto;
  background-color:lightgray;
  left: 100%; 
  z-index: 1;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
  border-radius: 2px;
}
.side-elements .drop a{
  text-decoration: none;
  color: rgb(234, 118, 0);
  font-size: 14px;
 padding: 4px 14px 4px;
 height: 17px;
  display: block;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
  padding-bottom: 5px;
}
 .drop a:hover{
  background:rgba(131, 140, 6, 0.815);
  color:  white;
}
.side-elements:hover .drop{
  display: block;
  top: 100%;
}
