
.social-icons{
  position: fixed;
  right: 0;
  top: 220px;
  
  width: 50px;
 
  background-color: aqua;
  cursor: pointer;
  
}
.social-icons .facebook{
  background-color: #3b5998;
  color: white;
}

.social-icons .whatsapp{
  background-color: #25d366;
  color: white;
}

.social-icons .twitter{
  background-color: #55acee;
  color: white;
}
.social-icons .instagram{
  background:linear-gradient(45deg, #ff0000, #0000ff);
  color: white;
}

.social-icons .tiktok{
  background-color: black;
  color: white;
}
.social-icons .linkedin{
  background-color: #0077b5;
  color: white;
}

.social-icons .youtube{
  background-color: #d74646;
  color: white;
}
.social-icons .envelope{
  background-color: lightskyblue
}


.social-icons .affect{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 66px;
  border-radius: 1px;
  font-size: 25px;
}

.social-icons .affect:hover{
  background-color:#ea7600;
  color: white;
}

@media screen and (max-width: 588px) {
  .social-icons{
   top:105px;
  }
}

